---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<li>
  <a href={"/review/" + id}>
    <h4 class="title">
      {title}
    </h4>
    <p class="date">Test</p>
  </a>
</li>
