---
import RatingImage from "./RatingImage.astro";

const { rating } = Astro.props;
---

<p>
  <RatingImage rating={rating} />
</p>

<a href={`/rating/${rating.trim().charAt(0)}/`}>
  Discover reviews from other restaurants with similar ratings!
</a>
