---
import Rating from "./Rating.astro";
import { marked } from "marked";

const { data, title } = Astro.props;

const htmlContent = marked(data);
---

<div>
  {
    data.startsWith("Rating:") ? (
      <Rating rating={data.split("Rating:")[1]} />
    ) : data.startsWith("IMG: ") ? (
      <img
        src={`/assets/content/${title.replaceAll(" ", "_")}/${data.split("IMG: ")[1]}`}
      />
    ) : (
      <div set:html={htmlContent} />
    )
  }
</div>
