---
import Rating from "./Rating.astro";
const { data } = Astro.props;
---

<div>
  {
    data.startsWith("Rating:") ? (
      <Rating rating={data.split("Rating:")[1]} />
    ) : (
      data
    )
  }
</div>
